@page "/services/telegram"
@inherits TelegramServicePageBase

<h3>TelegramService</h3>

<h4>Status: @StateService.ToString()</h4>

<div class="col col-6">
    @switch (StateService) {
        case Infrastructure.Enums.ServiceState.Online:
            <button>Stop</button>
            <button>Reload</button>
            break;

        case Infrastructure.Enums.ServiceState.Offline:
            <button>Start</button>
            break;
        default:
            <button>Reload</button>
            break;
    }
</div>
